@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  min-width: initial !important;
}
.protograph-card{
  position:relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}