@font-face {
  font-family: AvenirLTStd-Book;
  src: url("https://cdn.protograph.pykih.com/lib/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("https://cdn.protograph.pykih.com/lib/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: Avenir-Bold;
  src: url("https://cdn.protograph.pykih.com/lib/AEH.ttf") format("truetype");
}

:root {
  --bg1: #ff0202;
  --bg2: #5fbfcd;
  --bg3: #fdfdfd;
  --bg4: #b2b6b7;
  --bg5: #FFBA00;
  --bg6: #C3961C;
  --bg7: #937116;
}

body {
  min-width: initial !important;
}

.clearfix {
  clear: both;
}

.protograph-card {
  position: relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}

.protograph-col16-mode {
  width: 1280px;
  height: 420px;
  background-image: radial-gradient(ellipse at center, #060303, #642929);
  margin: 0 auto;
  vertical-align: top;
  position: relative;
}

.top-divs {
  position: absolute;
  top: 10%;
  width: 100%;
}

.bottom-divs {
  position: absolute;
  top: 65%;
  width: 100%;
  margin: auto;
}

.number-chart {
  height: 60%;
  width: 380px;
  display: inline-block;
  padding-top: 3%;
  vertical-align: top;
  margin-left: 3%;
}

.line-chart {
  height: 40%;
  width: 30%;
  display: inline-block;
  font-family: AvenirLTStd-Book;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: bottom;
  margin-left: 3%;
  overflow: hidden;
}

.large-num {
  font-family: Avenir-Bold;
  font-size: 125px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -6px;
  color: #ff0202;
  float: right;
  display: inline-block;
  top: 10px;
}

.large-label {
  width: 128px;
  display: inline-block;
  text-transform: uppercase;
  font-family: Avenir-Bold;
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.38;
  letter-spacing: 0.8px;
  text-align: justify;
  color: #ffffff;
  padding-top: 17px;
}

.small-label {
  width: 16.5%;
  font-family: Avenir-Bold;
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  align-content: center;
  padding-left: 22.5%;
}

.small-num {
  font-family: Avenir-Bold;
  font-size: 80px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff0202;
  display: inline-block;
}

.chart {
  width: 98%;
  height: 40px;
  margin-top: 10px;
}

.chart-span1, .chart-span2, .chart-span3, .chart-span4, .chart-span6, .chart-span7, .chart-span5 {
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 2.7;
  font-size: 12px;
}

.chart-span1, .chart-label1 {
  background-color: var(--bg1);
}

.chart-span2, .chart-label2 {
  background-color: var(--bg2);
}

.chart-span3, .chart-label3 {
  background-color: var(--bg3);
  color: #000;
}

.chart-span4, .chart-label4 {
  background-color: var(--bg4);
  color: #000;
}

.chart-span5, .chart-label5 {
  background-color: var(--bg5);
  color: #000;
}

.chart-span6, .chart-label6 {
  background-color: var(--bg6);
  color: #000;
}

.chart-span7, .chart-label7 {
  background-color: var(--bg7);
  color: #000;
}

.chart-label {
  height: auto;
  color: #fff;
  font-family: "AvenirLTStd-Book";
  font-size: 10px;
  line-height: 1.5;
  vertical-align: top;
  padding-right: 12px;
  box-sizing: border-box;

}

.labels {
  width: 98%;
  height: 100px;
}

#description {
  font-family: AvenirLTStd-Book;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.86;
  color: #fcfcfc;
}

#label2 {
  font-size: 39px;
  line-height: 0.05;
  letter-spacing: 7.4px;
  font-weight: 800;
}

#label3 {
  font-size: 39px;
  line-height: 0.05;
  letter-spacing: 1px;
  font-weight: 800;
}

#label4 {
  letter-spacing: 2.1px;
  line-height: 8px;
  text-align: justify;
}

.protograph-col4-mode {
  height: 430px;
  width: 100%;
  background-image: radial-gradient(ellipse at center, #060303, #642929);
  position: absolute;
  left: 0;
  top: 0;
}

.chart-label1, .chart-label2, .chart-label3, .chart-label4, .chart-label6, .chart-label7, .chart-label5{
  width: 5px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.label-text {
  font-size: 10px;
  font-family: AvenirLTStd-Book;
  display: inline-block;
  width: 85%;
  margin-top: 2px;
}


  #label2.col-4-mode {
    display: inline-block;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 0;
  }

  .large-label.col-4-mode {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 6px;
  }

  .large-num.col-4-mode {
    font-size: 70px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    line-height: 1.2;
  }

  .small-label.col-4-mode {
    font-size: 10px;
  }

  #label4.col-4-mode {
    margin-top: 23px;
    font-size: 15px;
    text-align: center;
  }

  #description.col-4-mode {
    width: 80%;
    height: 32%;
    margin: auto;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.7;
  }

  #incidentChart.col-4-mode {
    width: 60%;
    margin: auto;
    z-index: 1;
    position: relative;
  }

  #deathInjuryChart.col-4-mode {
    width: 70%;
    margin: auto;
    margin-top: 3%;
    z-index: 1;
    position: relative;
  }

  .small-num.col-4-mode {
    font-size: 50px;
  }

  .bg {
    position: absolute;
    overflow: hidden;
  }

  .container.col-4-mode {
    height: auto;
    overflow: hidden;
    padding-top:7px;
    width: 320px;
  }

  .full-width-div {
    overflow: hidden;
    height: 430px;
    width: 100%;
    position: relative;
    display: inline-block;
  }

@media only screen and (min-width: 500px) {
    .protograph-col4-mode {
        width: 360px;
    }
}